*{
	box-sizing: border-box;
}

@font-face {
	font-family: walsheim;
	src: url(GTWalsheimPro-Light.ttf);
}

body {
	font-family: walsheim;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding:20px;
	display: flex;
	justify-content: space-between;
	background-color: #c7f4f8;
}
 
nav a {
	padding: 10px;
	font-size: 10 rem;
	color: #002d4d;
}


.navLinks a { 
	text-decoration: none;
}

.navLinks a:hover { 
	color: #7f52a0;
}

.navLinks a:visited {
	color: ;
}

header {
	background-image: url('francesco-ungaro-Vjiuta12kBY-unsplash.jpg');
	background-size: cover;
	height: 800px;
	display: flex;
	justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
	header {
	height: 600px;
	display: flex;
	justify-content: center;	
	}
}

header .intro h1 {
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
	width: 100px;
}

header .intro {
	text-align: center;
	width: 50%;
	padding-top: 400px;
}

@media only screen and (max-width: 800px) {
	header .intro {
		padding-top: 250px;
		
	}
}

main {
	display: flex;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
}

.projectsIntro {
	display: block;
}

.projectOne {
	background-color: #D3D3D3;
	flex-grow: 1;
	height: 600px;
	margin: 10px;
}

.projectTwo {
	background-color: #2eccd5;
	flex-grow: 1;
	height: 600px;
	margin: 10px;
	
}

.projectThree {
	background-color: #7f52a0;
	flex-grow: 1;
	height: 600px;
	margin: 10px;
}

.contact {
	width: 100%;
	height: 200px;
	background-color: #D3D3D3;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #7f52a0;
}
